.loginFooter{
    text-align: right;
    margin-top: auto;
    padding-right: 20px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 100px;
}
.header {
    font-size: 17px;
    padding-left: 10px;
    box-sizing: border-box;
    border: 1px solid black;
    height: 120px;
}
.mini{
    text-align: right;
    margin-top: -3%;
    margin-right: 10px;
}
.footertext{
    margin-top: 40px;
}
.login-box{
    margin-top: 8%;
}
.menuTable{
    margin:auto;
}
.colorWheat{
    background-color: wheat;
}