.login-box{
    margin: auto;
    width: 375px !important;
}
.menuTable{
    margin:auto;
}
.bgWheat{
    background-color: #f5deb3;
}
.underline {
    height: 0px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #0A0A0A;
}
.button-primary{
    color: #0e84b5;
    border-radius: 10%;
    background-color: #5cb85c;
}
.bg-light-sky {
    background-color: #c5d6f2;
}
.bg-light-silver{
    background-color: #f4f6f9;
}
.bg-dark-silver{
    background-color: #C3C3C3;
}
.contractor-form{
    width: 1000px;
}
input {
    border: none transparent;
    outline: none;
}
.table td {
    border: 1px solid #dee2e6 !important;
}
.errormsg {
    color: red;
    background-color: yellow;
    display: none;
}