.loginFooter{
    text-align: right;
    padding-right: 20px;
    box-sizing: border-box;
}
.login-box{
    margin: auto;
    padding-top: 2%;
    padding-bottom: 8%;
    width: 375px !important;
}
.menuTable{
    margin:auto;
}
.bgWheat{
    background-color: #f5deb3;
}
.bgLightSilver{
    background-color: #f4f6f9;
}
.underline {
    height: 0px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #0A0A0A;
}
.button-primary{
    color: #0e84b5;
    border-radius: 5%;
    background-color: #5cb85c;
}